
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&family=Ubuntu&display=swap");
body {
	height: 100%;
	width: 100%;
	background-size: 100%;
	background: rgb(154, 74, 48);
	background: linear-gradient(
		35deg,
		rgba(154, 74, 48, 1) 0%,
		rgba(91, 84, 70, 1) 50%,
		rgba(63, 104, 102, 1) 100%
	);
	overflow-x: hidden;
}
