@font-face {
	font-family: 'BonVoyage';
	src: url("/fonts/Voyage/Bon-Voyage-Regular.otf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

main.main{
    background-color: blueviolet;
    overflow: hidden;
}

main .header.my-header{
    position: unset;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 3;
}

